doctype html

html
	head
		title LOGIN
	body
		form.login#login(action = 'login', method = 'post')
			input.name#name(type = 'text', name = 'name')
			br
			input.password#password(type = 'password', name = 'password')
			br
			button Login