doctype html

html
	head
		title Login
	body
		p #{message}
		form(action = 'login', method = 'post')
			div
				label(for = 'username') Username: 
				input(type = 'text', name = 'username', placeholder = 'Enter username' required)
			br

			div
				label(for = 'password') Password: 
				input(type = 'password', name = 'password', placeholder = 'Enter password' required)
			br

			button(type = 'submit') Login
			br

			h1 Not a member? 
				a(href = 'register') Sign Up Now!

